/lib/
/classes/
/target/
/logs/
/docs/
/checkouts/
/out/

/resources/public/out/
/resources/public/*.js

.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein*

pom.xml*
*jar
*.class

.repl
.env
.nrepl-port

.DS_Store
